{% extends "base.html" %}
{% load static %}

{% block title %}

سوالات متداول | سایت جادوگر

{% endblock title %}

{% block content %}


        <!-- Start breadcumb Area -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb text-center">
                            <div class="section-headline white-headline">
                                <h3>سوالات متداول</h3>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">خانه</li>
                                <li>سوالات متداول</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End breadcumb Area -->
        <!-- Start FAQ -->
        <div class="faq-page bg-color-2 page-padding">
            <div class="container ">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="business-faq">
                            <h3>اعضا جادوگر </h3>
                            <p>استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه.</p>
                        </div>
                    </div>
                    <!-- Start FAQ Start -->
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="faq-full">
                            <div class="single-faq ">
                                <h4> 1. اعضا جادوگر</h4>
                            </div>
                            <div class="faq-details">
                                <div class="panel-group" id="accordion">
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                                                    <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check1" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه. 
                                                </p>		
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check2">
                                                    <span class="acc-icons"></span> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه. 
                                                </p>										
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check3">
                                                    <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check3" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه.
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check4">
                                                    <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check4" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه. 
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->														
                                </div>
                            </div>
                            <!-- End FAQ -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="business-faq">
                            <h3>بازیکن مسابقه</h3>
                            <p>استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه.</p>
                        </div>
                    </div>
                    <!-- Start FAQ Start -->
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <!-- End FAQ full -->
                        <div class="faq-full">
                            <div class="single-faq ">
                                <h4> 2. بازیکن مسابقه</h4>
                            </div>
                            <div class="faq-details">
                                <div class="panel-group" id="accordion1">
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" class="active" data-parent="#accordion1" href="#check5">
                                                    <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check5" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه.
                                                </p>		
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#check6">
                                                    <span class="acc-icons"></span> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check6" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه به توسعه کامل خدمات بازی، از جمله طراحی، ایجاد هنری.
                                                </p>										
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#check7">
                                                    <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check7" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه.
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="#check8">
                                                    <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check8" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه به توسعه کامل خدمات بازی، از جمله طراحی، ایجاد هنری.
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->														
                                </div>
                            </div>
                            <!-- End FAQ -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="business-faq">
                            <h3>بازی کردن بازی</h3>
                            <p>استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه.</p>
                        </div>
                    </div>
                    <!-- Start FAQ Start -->
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <!-- End FAQ full -->
                        <div class="faq-full last-item">
                            <div class="single-faq ">
                                <h4> 3. بازی کردن بازی</h4>
                            </div>
                            <div class="faq-details">
                                <div class="panel-group" id="accordion2">
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" class="active" data-parent="#accordion2" href="#check9">
                                                    <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check9" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه به توسعه کامل خدمات بازی، از جمله طراحی، ایجاد هنری. 
                                                </p>		
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#check10">
                                                    <span class="acc-icons"></span> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check10" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگراز سال 2003 شروع به تولید بازی های ابتکاری کرده است. ما خدمات مشتریان خود را برای ارائه خدمات به مشتریان خود ارائه می دهیم.
                                                </p>										
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#check11">
                                                    <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check11" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه به توسعه کامل خدمات بازی.
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#check12">
                                                    <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check12" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    استودیو جادوگر از سال 2003 شروع به تولید بازی های نوآورانه کرده است. ما ارائه خدمات مشتریان حرفه ای خود را ارائه می دهیم، اعم از نمونه سازی اولیه. 
                                                </p>	
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->														
                                </div>
                            </div>
                            <!-- End FAQ -->
                        </div>
                        <!-- End FAQ full -->
                    </div>
                    <!-- End Column -->
                </div>
            </div>
        </div>
        <!-- End FAQ -->

{% endblock content %}